include ./mixins

link(href="/css/main.css" rel="stylesheet")
link(href="/css/media.css" rel="stylesheet")

<!-- START TEMPLATE -->
<!-- SVG SPRITE PLACE -->
.wrapper#wrapper
	block content

<!-- END TEMPLATE -->

script(src="/js/libs/swiper.min.js")
script(src="https://unpkg.com/imask")
script(src="/js/script.js")
