include ./mixins

link(href="/css/main.css" rel="stylesheet")
link(href="/css/media.css" rel="stylesheet")

<!-- START TEMPLATE -->
<!-- SVG SPRITE PLACE -->
.wrapper
	block content

<!-- END TEMPLATE -->

script(src="/js/libs/inputmask.min.js")
script(src="/js/libs/swiper.min.js")
script(src="/js/libs/just-validate.min.js")
script(src="/js/script.js")
