extends ./pug/layout

block content
	<!-- START HEADER -->
	.header
		.container
			.header__inner
				a.header__logo.content-tab(href="#about")
					img.header__logo-img(src="images/logo.svg")
				.header__nav.nav
					a.nav__item.content-tab(href="#courses") Курсы
					a.nav__item.content-tab(href="#navigation") Навигация
					a.nav__item.content-tab(href="#career") Преподаватель
					a.nav__item.content-tab(href="#students") Студенты
					a.nav__item.content-tab(href="#students") Для компаний
					a.nav__item.content-tab(href="#students") О нас
				a.header__btn.btn.btn--transparent Бесплатная консультация
				+nav-btn
	<!-- END HEADER -->

	<!-- START CONTENT HOME -->
	.content.content--active.content--opacity-1.content__about
		<!-- START SECTION FIRST-SCREEN -->
		.section.s-first-screen
			.container 
				.s-first-screen__inner 
					.s-first-screen__content
						.s-first-screen__title Учитесь онлайн <br><span>с гарантией трудоустройства</span>
						.s-first-screen__subtitle Стройте карьеру в IT с практикующими специалистами
						.s-first-screen__directions
							.s-first-screen__directions-title Наши направления:
							.s-first-screen__directions-items
								.s-first-screen__directions-item Data Science
								.s-first-screen__directions-item Бизнес Аналитика
								.s-first-screen__directions-item Веб-разработка
								.s-first-screen__directions-item Android-разработка
						.s-first-screen__text 
							p Нужна помощь в подборе правильного курса для вас? Пройди тест и пойми, что тебе подходит
						a.s-first-screen__btn.btn.btn--blue ПРОЙТИ ТЕСТ
					.s-first-screen__img-wrapper 
						img.s-first-screen__img(src="images/fs.jpg")
		<!-- END SECTION FIRST-SCREEN -->

		<!-- START SECTION STATS -->
		.section.s-stats.section--medium-pt.section--long-pb 
			.container 
				.title.title--mb-long ABLE в цифрах
				.s-stats__cards 
					+stat-card("<span class='countup' data-value='500'>0</span>+", "учеников")
					+stat-card("<span class='countup' data-value='80'>0</span>%", "работающих студентов, после окончания курса")
					+stat-card("<span class='countup' data-value='4,85'>0</span>", "оценка курса от студентов")
		<!-- END SECTION STATS -->

		<!-- START SECTION COURSES -->
		.section.s-courses
			.container
				.s-courses__title.title.title--mb-long.title--without-after Ознакомьтесь с нашими курсами, ориентированными на практику
				.s-courses__inner
					.s-courses__tabs.tabs
						.tabs__nav
							button.tabs__nav-btn(type="button" data-tab="#tab_1") Data Science
							button.tabs__nav-btn(type="button" data-tab="#tab_2") Веб-Разработка
							button.tabs__nav-btn(type="button" data-tab="#tab_3") Android-Разработка
							button.tabs__nav-btn(type="button" data-tab="#tab_4") Бизнес аналитика
						.tabs__content 
							.tabs__item#tab_1
								.tabs__text
									p Вы научитесь:
									p 1. Использовать Python его для самостоятельного решения задач, над которыми обычно работают несколько специалистов;
									p 2. Использовать библиотеки Python-а для анализа, очистки, визуализации данных.
									p 3. Использовать SQL для работы с большими массивами базой данных, создавать инфографику, писать сложные запросы
									p 4. Использовать классические алгоритмы машинного обучения для решения разновидных задач, оценивать качество вашего решения при помощи общепринятых метрик.
								.tabs__bottom
									.tabs-info
										.tabs-info__top
											.tabs-info__item
												.tabs-info__item-title Длительность:
												.tabs-info__item-text 6 месяцев
											.tabs-info__item
												.tabs-info__item-title Стоимость:
												.tabs-info__item-text от 39 000 ₸ в месяц
										.tabs-info__bottom
											.tabs-info__item
												.tabs-info__item-img-wrapper 
													img.tabs-info__item-img(src="images/tabs/1.png")
											.tabs-info__item
												.tabs-info__item-img-wrapper 
													img.tabs-info__item-img(src="images/tabs/2.png")
											.tabs-info__item <span>РАССРОЧКА</span> от 19 500 ₸ в месяц
									.tabs__btn.btn.btn--primary ПОДРОБНЕЕ
							.tabs__item#tab_2
								.tabs__text
									p Вы научитесь:
									p 1. Выстраивать и стилизовать веб страницу с помощью знаний основных принципов верстки.
									p 2. Будете делать динамичные веб страницы, с помощью базовых знаний JavaScript
									p 3. Освоите фреймворки и библиотеки которые облегчат разработку и количество строк кода
									p 4. Освоите все системы веб (фронтенд, бэкенд, база данных), как они строятся и общаются между собой
								.tabs__bottom
									.tabs-info
										.tabs-info__top
											.tabs-info__item
												.tabs-info__item-title Длительность:
												.tabs-info__item-text 6 месяцев
											.tabs-info__item
												.tabs-info__item-title Стоимость:
												.tabs-info__item-text от 39 000 ₸ в месяц
										.tabs-info__bottom
											.tabs-info__item
												.tabs-info__item-img-wrapper 
													img.tabs-info__item-img(src="images/tabs/1.png")
											.tabs-info__item
												.tabs-info__item-img-wrapper 
													img.tabs-info__item-img(src="images/tabs/2.png")
											.tabs-info__item <span>РАССРОЧКА</span> от 19 500 ₸ в месяц
									.tabs__btn.btn.btn--primary ПОДРОБНЕЕ
							.tabs__item#tab_3
								.tabs__text
									p Вы научитесь:
									p 1. Использовать языки Java и Kotlin, работать с интегрированной средой разработки Android Studio
									p 2. Использовать методы построения экранов, разрабатывать пользовательские интерфейсы различной сложности UX/UI
									p 3. Управлять процессом с помощью GitHub и работать с PlayMarket.
								.tabs__bottom
									.tabs-info
										.tabs-info__top
											.tabs-info__item
												.tabs-info__item-title Длительность:
												.tabs-info__item-text 6 месяцев
											.tabs-info__item
												.tabs-info__item-title Стоимость:
												.tabs-info__item-text от 39 000 ₸ в месяц
										.tabs-info__bottom
											.tabs-info__item
												.tabs-info__item-img-wrapper 
													img.tabs-info__item-img(src="images/tabs/1.png")
											.tabs-info__item
												.tabs-info__item-img-wrapper 
													img.tabs-info__item-img(src="images/tabs/2.png")
											.tabs-info__item <span>РАССРОЧКА</span> от 19 500 ₸ в месяц
									.tabs__btn.btn.btn--primary ПОДРОБНЕЕ
							.tabs__item#tab_4
								.tabs__text
									p Вы научитесь:
									p 1. Использовать Power BI для бизнес-аналитики и подготовки интерактивных отчетов. Анализировать большое количество данных из разных источников. Преобразовывать цифры в понятные отчеты. Отслеживать изменения показателей на динамических дашбордах.
									p 2. Использовать SQL – язык запросов, позволяющий работать с данными из баз данных, читать их, извлекать и исследовать.
									p 3. Использовать Python для решения задач, которые ранее занимали огромное количество ручной работы. Использовать библиотеки Python-а для анализа, очистки, визуализации данных.
								.tabs__bottom
									.tabs-info
										.tabs-info__top
											.tabs-info__item
												.tabs-info__item-title Длительность:
												.tabs-info__item-text 6 месяцев
											.tabs-info__item
												.tabs-info__item-title Стоимость:
												.tabs-info__item-text от 39 000 ₸ в месяц
										.tabs-info__bottom
											.tabs-info__item
												.tabs-info__item-img-wrapper 
													img.tabs-info__item-img(src="images/tabs/1.png")
											.tabs-info__item
												.tabs-info__item-img-wrapper 
													img.tabs-info__item-img(src="images/tabs/2.png")
											.tabs-info__item <span>РАССРОЧКА</span> от 19 500 ₸ в месяц
									.tabs__btn.btn.btn--primary ПОДРОБНЕЕ
					.s-courses__help
						.s-courses__help-text 
							p Нужна помощь в подборе правильного курса для вас? Пройди тест пойми, что тебе подходит
						a.s-courses__help-btn.btn.btn--test(href="#") ПРОЙТИ ТЕСТ
		<!-- END SECTION COURSES -->

		<!-- START SECTION SYSTEM -->
		.section.s-system.section--long
			.container 
				.title.title--mb-long Cистемный подход к обучению
				.s-system__cards 
					+titled-text-card("Видеоуроки", "Смотреть видеоуроки можно в любое время, доступ к учебным материалам предоставляется бессрочно")
					+titled-text-card("практика", "80% обучения нацелена на практику для качественного усвоения материала и подкрепления теории")
					+titled-text-card("наставничество", "Созвоны с преподавателями и их поддержка на протяжении всего обучения, офлайн воркшопы, нетворкинг с другими студентами и круглосуточный чат в мессенджерах для обсуждения заданий и обмена опытом значительно облегчит ваше обучение")
					+titled-text-card("Трудоустройство", "С 2022 года мы внедрили 100% гарантию на трудоустройство для студентов на курсах Data Science, Android-разработка, Бизнес-аналитика. По окончанию их, мы начинаем курирование вашего трудоустройства в течение полгода ")
		<!-- END SECTION SYSTEM -->

		<!-- START SECTION LOCATION -->
		.section.s-location
			.container 
				img.s-location__img(src="images/map.svg") 
				.s-location__title.title.title--white.title--mb-long Проходи обучение с любого места и подстраивай график под себя
				.s-location__cards 
					+location-card("01", "Первая в Казахстане онлайн школа современных IT профессий")
					+location-card("02", "Преподаватели лучшие специалисты в своей нише из топовых мировых компаний")
					+location-card("03", "Индивидуальный подход к каждому ученику")
					+location-card("04", "Предоставляем по запросу консультации со специалистами из Google, Apple  и Facebook")
				.s-location__btn.btn.btn--transparent БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ
		<!-- END SECTION LOCATION -->

		<!-- START SECTION LEARNING -->
		.section.s-learning.section--long-pt
			.container 
				.title.title--mb-long Обучение ориентированное на карьеру
				.s-learning__inner 
					+learning-card("images/learning-card/1.jpg", "Онлайн")
					+learning-card("images/learning-card/2.jpg", "Живое наставничество")
					+learning-card("images/learning-card/3.jpg", "Нетворкинг")
		<!-- END SECTION LEARNING -->

		<!-- START SECTION FOUNDERS -->
		.section.s-founders.section--long 
			.s-founders__img-wrapper
				img.s-founders__img(src="images/founders.jpg")
				.container 
					.s-founders__title.title.title--white Основатели Академии ABLE 
		<!-- END SECTION FOUNDERS -->

		<!-- START SECTION VIDEO -->
		.section.s-video
			.container
				+video("onYbuQrqiJk", "/images/video-bg.jpg")
		<!-- END SECTION VIDEO -->

		<!-- START SECTION COMPANIES -->
		.section.s-companies.section--medium
			.container 
				.title.title--mb-long Наши студенты наняты компаниями:
			.swiper-container.company-slider
				.swiper-wrapper 
					.swiper-slide 
						.s-companies__img-wrapper
							img.s-companies__img(src="images/company-slider/1.png")
					.swiper-slide 
						.s-companies__img-wrapper
							img.s-companies__img(src="images/company-slider/2.png")
					.swiper-slide 
						.s-companies__img-wrapper
							img.s-companies__img(src="images/company-slider/3.png")
					.swiper-slide 
						.s-companies__img-wrapper
							img.s-companies__img(src="images/company-slider/4.png")
					.swiper-slide 
						.s-companies__img-wrapper
							img.s-companies__img(src="images/company-slider/5.png")
					.swiper-slide 
						.s-companies__img-wrapper
							img.s-companies__img(src="images/company-slider/6.png")
					.swiper-slide 
						.s-companies__img-wrapper
							img.s-companies__img(src="images/company-slider/7.png")
			.company-slider__pagination
		<!-- END SECTION COMPANIES -->

		<!-- START SECTION BANNER -->
		.section.s-banner
			.container 
				.s-banner__inner 
					.s-banner__title.title Станьте специалистом в IT. <br>Работа гарантирована!
					.s-banner__btn.btn.btn--primary БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ
		<!-- END SECTION BANNER -->
	<!-- END CONTENT HOME -->

	<!-- START CONTENT COURSES -->
	.content.content__courses

		<!-- START SECTION FS -->
		.section.s-fs.section--long-pb 
			.container 
				.s-fs__inner 
					.s-fs__content
						.s-fs__title Освой профессию <span><br>Data Science</span> <br>за 6 месяцев 
						.s-fs__text.s-fs__text--data 
							p Получите готовые к работе навыки в анализе данных и машинного обучения
						.s-fs__btn.btn.btn--primary ХОЧУ НА КУРС
						.s-fs__price
							.s-fs__price-nums от <span class="gray">31 500</span> <span class="blue">19 500 ₸</span> в месяц
							.s-fs__price-text при оплате в рассрочку на 12 месяцев
					.s-fs__img-wrapper 
						img.s-fs__img(src="images/fs.jpg")
		<!-- END SECTION FS -->

		<!-- START SECTION SLOGAN -->
		.section.s-slogan 
			.container 
				.s-slogan__title.title.title--primary.title--centered.title--without-after Ищете качественные <br>курсы
				.s-slogan__subtitle.title.title--mb-long.title--centered.title--medium по окончанию которых вы точно <br>будете работать? 
				.s-slogan__text 
					p Вы попали в нужное место! 
		<!-- END SECTION SLOGAN -->

		<!-- START SECTION AFTER-COURSE -->
		.section.s-after-course.section--long 
			.container
				.title.title--mb-long К концу курса вы сможете: 
				.s-after-course__cards
					+icon-card("team", "Использовать Python для самостоятельного решения задач, над которыми обычно работают несколько специалистов")
					+icon-card("idea", "Использовать библиотеки Python-а для анализа, очистки, визуализации данных")
					+icon-card("comp", "Использовать SQL для работы с большими массивами базой данных, создавать инфографику, писать сложные запросы")
					+icon-card("like", "Понимать и использовать классические алгоритмы машинного обучения для решения разновидных задач, оценивать качество вашего решения при помощи общепринятых метрик")
		<!-- END SECTION AFTER-COURSE -->

		<!-- START SECTION AUDIENCE -->
		.section.s-audience 
			.container 
				.title.title--mb-long Для кого курс
				.s-audience__inner.flex
					+titled-text-card("Новичкам", "Для новичков в области IT обучения откроет двери к прорыву в сферу Data Science и Machine Learning.")
					+titled-text-card("Начинающим программистам", "Начинающие программисты смогут повысить квалификацию и увеличить спектр проектов, которые в свою очередь увеличат доход в х2, х3.")
					+titled-text-card("Аналитикам", "Опытные аналитики и разработчики научатся автоматизировать аналитические процессы, что позволит повысить результативность и получить более высокую должность.")
		<!-- END SECTION AUDIENCE -->

		<!-- START SECTION PROGRAM -->
		.section.s-program.section--long
			.container 
				.title.title--mb-long Программа курса
				.s-program__inner.flex
					+program-card("<span>01.</span> Основы Python")
						p Типы переменных (числа, текст, списки, словари, и т.д.)
						p Операторы (сравнения, условные, и т.д.)
						p Циклы (for, while)
						p Функции (def, рекурсия)
						p Объектно-ориентированное программирование (class, inheritance, и т.д.)
						p Стандартные модули и библиотеки  (os, csv, json, и т.д.)
						p Модули и Пакеты
					+program-card("<span>02.</span> Обработка и визуализация данных")
						p Библиотеки Python
						p Numpy
						p Pandas
						p Matplotlib
						p Seaborn
						p EDA – Exploratory Data Analysis
					+program-card("<span>03.</span> Основы машинного обучения")
						p Теория вероятности
						p Что такое машинное обучение?
						p Разбиение данных
						p Основные типы задач (классификация, регрессия)
						p Алгоритмы (Линейная регрессия, Дерево принятия решений, и т.д.)
		<!-- END SECTION PROGRAM -->

		<!-- START SECTION TEACHER -->
		.section.s-teacher
			.container 
				.title.title--mb-long Преподаватель курса
				.s-teacher__inner 
					.s-teacher__img-wrapper 
						img.s-teacher__img(src="images/teachers/1.jpg")
					.s-teacher__content 
						.s-teacher__name Азамат Хасенов
						.s-teacher__descr Автор курса data science
						.s-teacher__text 
							p Работал специалистом по искусственному интеллекту в Южной Корее, компания ST UNITAS
							p Работал дата сайентист в компании Huawei
							p Сейчас дата сайентист в топовой казахстанской компании BTS Digital
		<!-- END SECTION TEACHER -->

		<!-- START SECTION QUOTE -->
		.section.s-quote.section--long 
			.container 
				.s-quote__inner
					.s-quote__text 
						img.s-quote__img.s-quote__img--one(src="images/quote/1.svg") 
						img.s-quote__img.s-quote__img--two(src="images/quote/2.svg") 
						p Преподаватель Азамат был очень крутым, имел реальный опыт и служил отличным ресурсом, в возникших сложностях и непониманиях. Помогал мне освоить материал, а также решать технические вопросы. Он также предоставлял дополнительные ресурсы, если я хотел попрактиковаться или развить дополнительные навыки.
					.s-quote__graduate
						.s-quote__graduate__img-wrapper 
							img.s-quote__graduate__img(src="images/graduate.png")
						.s-quote__graduate__info
							p Рустам Бекишев, <br>Выпускник науки о данных
							a.s-quote__graduate__link(href="#courses")
								img.s-quote__graduate__link-img(src="images/graduate-inst.svg")
								.s-quote__graduate__link-text rustambekishev
		<!-- END SECTION QUOTE -->

		<!-- START SECTION WE-HAVE -->
		.section.s-we-have 
			.container 
				.title.title--mb-long Учиться у нас, это: 
				.s-we-have__inner.flex 
					+we-have-card("images/we-have-card/1.jpg","Индивидуальная поддержка во время обучения")
						p Получите помощь по любой проблеме, большой или маленькой, от вашего личного наставника, действующего специалиста.
					+we-have-card("images/we-have-card/2.jpg","Контроль продуктивности и освоение материала")
						p Проверка выполнения домашнего задания, постоянная активность в чате и офлайн встречи помогут вам достичь успеха.
					+we-have-card("images/we-have-card/3.jpg","Вдохновение и мотивация от лучших")
						p Ваш преподаватель — это ваше окно в мир науки о данных. Он мотивирует вас, отвечает на вопросы и поддерживает в течение всего обучения. 
		<!-- END SECTION WE-HAVE -->

		<!-- START SECTION PRICE -->
		.section.s-price.section--long
			.container
				.title.title--mb-long Цены
				.s-price__inner
					.s-price-card
						img.s-price-card__img(src="images/price/1.svg")
						.s-price-card__inner 
							.s-price-card__installment РАССРОЧКА 16 250 ₸/МЕС
							.s-price-card__title.s-price-card__title--big.title.title--mini БАЗОВЫЙ
							.s-price-card__list
								.s-price-card__item Самостоятельное прохождение курса
								.s-price-card__item Доступ к курсу 6 месяцев
								.s-price-card__item Проверка заданий на платформе
								.s-price-card__item.s-price-card__item--none Сертификат об окончании не выдается
							.s-price-card__nums 
								.s-price-card__last-price 240 000 ₸
								.s-price-card__new-price 195 000 ₸
							.s-price__btn-wrapper
								.s-price__btn.btn.btn--course ХОЧУ НА КУРС
					.s-price-card.s-price-card--blue
						img.s-price-card__img(src="images/price/2.svg")
						.s-price-card__inner 
							.s-price-card__installment РАССРОЧКА 19 500 ₸/МЕС
							.s-price-card__title.title.title--mini ОПТИМАЛЬНЫЙ
							.s-price-card__list
								.s-price-card__item Поддержка и проверка заданий от куратора
								.s-price-card__item Живые вебинары с преподавателем
								.s-price-card__item Общий чат с учениками и преподавателями
								.s-price-card__item Доступ к курсу навсегда
								.s-price-card__item Онлайн воркшопы
								.s-price-card__item Еженедельные прямые эфиры с преподавателем
								.s-price-card__item Выделенный студенческий консультант и техническая поддержка во время обучения
								.s-price-card__item 8 проектов в портфолио 
								.s-price-card__item Гарантия трудоустройства после окончания курса
							.s-price-card__nums 
								.s-price-card__last-price.s-price-card__last-price--blue 330 000 ₸
								.s-price-card__new-price 235 000 ₸
							.s-price__btn-wrapper
								.s-price__btn.btn.btn--course-blue ХОЧУ НА КУРС
					.s-price-card
						img.s-price-card__img(src="images/price/3.svg")
						.s-price-card__inner 
							.s-price-card__installment РАССРОЧКА 49 500 ₸/МЕС
							.s-price-card__title.title.title--mini мАКСИМУМ
							.s-price-card__list
								.s-price-card__item Все что в пакете “оптимальный”
								.s-price-card__item Индивидуальное обучение
								.s-price-card__item Приоритетный VIP-чат с преподавателями
								.s-price-card__item Доступ к курсу навсегда
								.s-price-card__item Личное курирование самого преподавателя на протяжении всего курса
								.s-price-card__item Живые созвоны с преподавателем
							.s-price-card__nums 
								.s-price-card__last-price 800 000 ₸
								.s-price-card__new-price 595 000 ₸
							.s-price__btn-wrapper
								.s-price__btn.btn.btn--course ХОЧУ НА КУРС
		<!-- END SECTION PRICE -->

		<!-- START SECTION BANNER -->
		.section.s-banner
			.container 
				.s-banner__inner.s-banner__inner--flex-wrap 
					.s-banner__title.s-banner__title--wide.title.title--centered.title--mb-short Точную информацию по тарифам <br>можно уточнить перейдя по кнопке
					.s-banner__btn.s-banner__btn--centered.btn.btn--primary БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ
		<!-- END SECTION BANNER -->

	<!-- START CONTENT COURSES -->

	<!-- START FOOTER -->
	.footer 
		.container 
			.footer__top
				.footer__top-right
					.footer__col
						.footer__col-title Главная
						.footer__col-item Курсы
						.footer__col-item Навигация
						.footer__col-item Преподаватели
						.footer__col-item Студенты
						.footer__col-item Для компаний
						.footer__col-item О нас
					.footer__col
						.footer__col-title Курсы
						.footer__col-item Data Science
						.footer__col-item Веб-Разработка
						.footer__col-item Android-Разработка
						.footer__col-item БИЗНЕС АНАЛИТИКА
					.footer__col
						.footer__col-title Контакты
						.footer__col-item datascience.kz@gmail.com
						.footer__col-item +7 776 125 59 52
				.footer__top-left
					.footer__col
						.footer__col-title Социальные сети
						.footer__social-inner 
							a.footer__social-item(href="#")
								img.footer__social-item-img(src="images/social/facebook.svg")
							a.footer__social-item(href="#")
								img.footer__social-item-img(src="images/social/instagram.svg")
							a.footer__social-item(href="#")
								img.footer__social-item-img(src="images/social/telegram.svg")
							a.footer__social-item(href="#")
								img.footer__social-item-img(src="images/social/whatsapp.svg")
			.footer__bottom
				.footer__bottom-left © ABLE Online Academy
				.footer__bottom-right Политика конфиденциальности
	<!-- END FOOTER -->	
