extends ./pug/layout

block content
	<!-- START * -->

	<!-- END * -->

	<!-- START CONTENT SECTION -->
	.s-content.section
		.container
			.s-content__text
				<!-- START VACANCY DESCRIPTION -->
				b Обязанности:
				ul
					li Организация сделок с клиентами по продаже квартир
					li Предварительная оценка недвижимости и анализ рынка

				b Условия:
				ul
					li Обучение и наставничество
					li Дружный молодой коллектив
				<!-- END VACANCY DESCRIPTION -->
	<!-- END CONTENT SECTION-->
